<h1>Pokemons</h1>
<div id="pokemons-container">

  <script id="pokemons-template" type="text/x-handlebars-template">

    <div id="pokemon-container" class="pokemon-box">
      {{#each pokemons}}
        <article class="pokemon">
            <a href="/pokemons/{{id}}">
              <h2>{{name}}</h2>
            </a>
        </article>
      {{/each}}
    </div>

    <aside id="pokemon-details-container" class="pokemon-box">
      <h2>Pokemon Details</h2>
      <div id="pokemon-details"></div>
    </aside>
  </script>
</div>

<script id="pokemon-template" type="text/x-handlebars-template">
  <img src="{{pokemon.image_url}}">
  <dl>
    <dt>Name</dt>
    <dd>{{pokemon.name}}</dd>

    <dt>Attack</dt>
    <dd>{{pokemon.attack}}</dd>

    <dt>Defense</dt>
    <dd>{{pokemon.happiness}}</dd>

    <dt>Speed</dt>
    <dd>{{pokemon.speed}}</dd>

    <dt>Species</dt>
    <dd>{{pokemon.species}}</dd>

    <dt>Growth Rate</dt>
    <dd>{{pokemon.growth_rate}}</dd>
  </dl>

</script>
